################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pandora2022-1/v17
/PandoraConsole/.vs/PandoraConsole/FileContentIndex
/PandoraConsole/Pandora.Access/obj/Debug/net6.0
/PandoraConsole/Pandora.Access/obj
/.gitignore
/.gitignore
